@import colors
@import prefixes
@import 'components/triangle'

infoBarWidth = 330px
.ig
  @import basics
  @import infoBar
  @import EmbedLogo
.ig
  #map
    position absolute
    top 0px
    left 0px
    bottom 0px
    // width (1000px - infoBarWidth)
    // width calc(100% - 330px)
    width 100%
