#shareBtn
  box-sizing content-box
  display block
  position absolute
  top 10px
  right 340px
  background white
  padding 5px 10px
  border 2px solid rgba(0,0,0,0.2)
  border-radius 4px
  cursor pointer
  font-family 'Roboto'
  &:hover
    text-decoration none
  .social
    &:first-of-type
      margin-left 10px
    margin 0px 4px
    position relative
    top 3px

#shareArea
  display none
  &.visible
    display block
  position absolute
  top 150px
  left 50%
  width 260px
  padding 5px 10px 5px 10px
  padding-top 8px
  margin-left (@width / -2)
  background white
  border 2px solid #aaa
  z-index 9999
  input
    margin-top 6px
    width 100%
  a.social
    display block
    float left
    margin-right 10px
    margin-top 10px
  .close
    position absolute
    right 0px
    top 0px
    padding 5px 10px
    text-decoration none
    font-size 24px
    color ColorHeading
    &:hover
      color darken(ColorHeading, 20%)
      background lighten(ColorHeading, 95%)
    &:active
      background lighten(ColorHeading, 90%)
  div.embed
    float left
    clear left
    width 100%
    margin-top 4px
    a:hover
      text-decoration none

#shareBg.visible
  position absolute
  top 0px
  left 0px
  bottom 0px
  width 100%
  background rgba(0,0,0,0.5)
  z-index 9998
